DATABASE_URL=postgresql://postgres:postgres@localhost:5432/user_service
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/user_service_test

CLIENT_URL=http://localhost:5173

POSTGRES_DB=user_service
POSTGRES_TEST_DB=user_service_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

JWT_SECRET=your_jwt_secret_key

APP_PORT=3000